<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Game's Title" %>
  </div>

  <div>
    <%= form.label :summary %><br>
    <%= form.text_area :summary, placeholder: "Game's Summary" %>
  </div>

  <div>
    <%= form.label :release_date %><br>
    <%= form.text_field :release_date, placeholder: "dd/mm/yyyy" %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, Game.categories.keys, { prompt: true }, { class: "select__input" } %>
  </div>

  
  <div>
    <%= form.label :parent_id, "Parent Game", style: "display: block" %>
    <%= form.collection_select :parent_id, Game.main_game, :id, :name, { include_blank: "Please select" }, { class: "select__input" } %>
  </div>

  <div>
    <%= form.label :cover, "Imagen" %><br>
    <%= form.file_field :cover, accept: "image/png, image/jpeg" %>
  </div>

  <div>
    <br>
    <%= form.submit %>
  </div>
<% end %>
